<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhxm2.dao.ZbPinglunMapper">
  <resultMap id="BaseResultMap" type="com.lhxm2.pojo.ZbPinglun">
    <id column="zp_id" jdbcType="INTEGER" property="zpId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="zb_id" jdbcType="INTEGER" property="zbId" />
    <result column="zp_upid" jdbcType="INTEGER" property="zpUpid" />
    <result column="zp_text" jdbcType="VARCHAR" property="zpText" />
    <result column="zp_time" jdbcType="DATE" property="zpTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    zp_id, u_id, zb_id, zp_upid, zp_text, zp_time
  </sql>
  <select id="selectByExample" parameterType="com.lhxm2.pojo.ZbPinglunExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zb_pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zb_pinglun
    where zp_id = #{zpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from zb_pinglun
    where zp_id = #{zpId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lhxm2.pojo.ZbPinglunExample">
    delete from zb_pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lhxm2.pojo.ZbPinglun">
    insert into zb_pinglun (zp_id, u_id, zb_id, 
      zp_upid, zp_text, zp_time
      )
    values (#{zpId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{zbId,jdbcType=INTEGER}, 
      #{zpUpid,jdbcType=INTEGER}, #{zpText,jdbcType=VARCHAR}, #{zpTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lhxm2.pojo.ZbPinglun">
    insert into zb_pinglun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zpId != null">
        zp_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="zbId != null">
        zb_id,
      </if>
      <if test="zpUpid != null">
        zp_upid,
      </if>
      <if test="zpText != null">
        zp_text,
      </if>
      <if test="zpTime != null">
        zp_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zpId != null">
        #{zpId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="zbId != null">
        #{zbId,jdbcType=INTEGER},
      </if>
      <if test="zpUpid != null">
        #{zpUpid,jdbcType=INTEGER},
      </if>
      <if test="zpText != null">
        #{zpText,jdbcType=VARCHAR},
      </if>
      <if test="zpTime != null">
        #{zpTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lhxm2.pojo.ZbPinglunExample" resultType="java.lang.Long">
    select count(*) from zb_pinglun
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zb_pinglun
    <set>
      <if test="record.zpId != null">
        zp_id = #{record.zpId,jdbcType=INTEGER},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
      <if test="record.zbId != null">
        zb_id = #{record.zbId,jdbcType=INTEGER},
      </if>
      <if test="record.zpUpid != null">
        zp_upid = #{record.zpUpid,jdbcType=INTEGER},
      </if>
      <if test="record.zpText != null">
        zp_text = #{record.zpText,jdbcType=VARCHAR},
      </if>
      <if test="record.zpTime != null">
        zp_time = #{record.zpTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zb_pinglun
    set zp_id = #{record.zpId,jdbcType=INTEGER},
      u_id = #{record.uId,jdbcType=INTEGER},
      zb_id = #{record.zbId,jdbcType=INTEGER},
      zp_upid = #{record.zpUpid,jdbcType=INTEGER},
      zp_text = #{record.zpText,jdbcType=VARCHAR},
      zp_time = #{record.zpTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lhxm2.pojo.ZbPinglun">
    update zb_pinglun
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="zbId != null">
        zb_id = #{zbId,jdbcType=INTEGER},
      </if>
      <if test="zpUpid != null">
        zp_upid = #{zpUpid,jdbcType=INTEGER},
      </if>
      <if test="zpText != null">
        zp_text = #{zpText,jdbcType=VARCHAR},
      </if>
      <if test="zpTime != null">
        zp_time = #{zpTime,jdbcType=DATE},
      </if>
    </set>
    where zp_id = #{zpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lhxm2.pojo.ZbPinglun">
    update zb_pinglun
    set u_id = #{uId,jdbcType=INTEGER},
      zb_id = #{zbId,jdbcType=INTEGER},
      zp_upid = #{zpUpid,jdbcType=INTEGER},
      zp_text = #{zpText,jdbcType=VARCHAR},
      zp_time = #{zpTime,jdbcType=DATE}
    where zp_id = #{zpId,jdbcType=INTEGER}
  </update>
</mapper>